h1 {
  font-family: helvetica;
  font-weight: 200;
}

// start of primitive calendar formatting
div {
  font-family: 'Lato', sans-serif;
}

SearchContainer, ScheduleContainer {
  display: inline-block;
}
.calendarContainer {
  display: flex;
  flex: 1 ;
  flex-direction: row
}

.calendarColumn {
  display: flex;
  flex-direction: column;
  flex: 1
}

.showHour {
  margin-top: 1%;
  color: grey;
}

.timeChosen {
  background-color: grey;

}

.timeNonChosen {
  background-color : #FFFFFF;
}

.time {
  height: 20px;
  flex: 1
}

.theHour {
  flex:1;
  height: 40px;
  padding-left: 60%;
  font-size: 15px
}
// end of primitive calendar formatting

.courselistblock {
    background: #FA6D6D;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
    border-radius: 5px;
    width: 530px;
    height: 50px;
    display: flex;
    padding-left: 10px;
}

.courselistblock h1 {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #FFFFFF;
    letter-spacing: -0.28px;
    margin: 12px;
    flex:8;
}

.courselistblock div {
    display: flex;
    flex-direction: column;
    padding-top: 4.5px;
    padding-right: 8px;
    justify-content: flex-end;
    align-items: flex-end;
}


.courselistblock div p {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: -0.28px;
    flex: 1;
    margin: 0;
}

/* Selected Course Block Container: */
.selectedcourseblockcontainer {
    background: #FFFFFF;
    box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.50);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 325px;
    align-items: center;
    justify-content: space-around;
    padding-top: 20px;
}

/* Selected Course Block: */
.selectedcourseblock {
    background: #D02E2E;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
    border-radius: 5px;
    width: 225px;
    height: 50px;
    display: flex;
    padding-left: 10px;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.selectedcourseblock h1 {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #FFFFFF;
    letter-spacing: -0.28px;
    margin: 12px;
    flex: 1;
    font-weight: 300;
    text-align: center;
}

/* Selected Course Block: */
.emptyselectedcourseblock {
    background: #F3F3F3;
    box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.50);
    border-radius: 5px;
    width: 225px;
    height: 50px;
    display: flex;
    padding-left: 10px;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

/* Selected Course Block: */
.coursecard {
    background: #FFFFFF;
    border: 1px solid #979797;
    box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.50);
    border-radius: 5px;
    width: 430px;
    height: 320px;
    display: flex;
    flex-direction: column;
    padding: 15px;
}


.coursecard .courseidandtime {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.coursecard .courseidandtime {
    display: flex;
    flex: 1.5;
}


.coursecard .courseid {
    display: flex;
}

.coursecard .courseid p {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #000000;
    letter-spacing: -0.28px;
    margin-right: 10px;
    font-weight: 400;
}


.coursecard .coursetime {
    display: flex;
}

.coursecard .coursetime p {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #000000;
    letter-spacing: -0.28px;
    margin-left: 10px;
    font-weight: 300;
}


.coursecard .coursename {
    display: flex;
    flex: 1;
    margin-top: 20px;
}

.coursecard .coursename h1 {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    color: #000000;
    letter-spacing: -0.28px;
    margin-left: 10px;
    margin-top: 10px;
}

.coursecard .professor {
    display: flex;
    flex: 1;
}

.coursecard .professor p {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #000000;
    letter-spacing: -0.28px;
    margin-left: 10px;
    font-weight: 300;
    margin-top: 15px;
}

.coursecard .descriptiontitle {
    display: flex;
    flex: 1;
    margin-top: 10px;
}

.coursecard .descriptiontitle p {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #000000;
    letter-spacing: -0.28px;
    margin-left: 10px;
    margin-bottom: 10px;
    font-weight: 700;
    margin-top: 15px;
}

.coursecard .description {
    display: flex;
    flex: 3;
}

.coursecard .description p {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #000000;
    letter-spacing: -0.28px;
    margin-left: 10px;
    margin-top: 10px;
    font-weight: 300;
}
.coursecard .recitation {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    margin-top: 30px;
}

.coursecard .recitation p {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #000000;
    letter-spacing: -0.28px;
    margin-right: 10px;
    font-weight: 700;
}

.coursecard .recitationsection {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.coursecard .recitationsection p {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #000000;
    letter-spacing: -0.28px;
    margin-right: 10px;
    font-weight: 300;
    margin-top: 8px;
}

/* Gen Ed Requirements Container: */

.genedrequirementscontainer {
    background: #FFFFFF;
    box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.50);
    border-radius: 5px;
    width: 600px;
    height: 370px;
    padding: 25px;
    display: flex;
    flex-direction: column;
}

.genedrequirementscontainer .filtercontrols {
    display: flex;
    flex: 1;
    justify-content: space-around;
}


.instructortoggle {
    border: 1px solid #979797;
    box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.50);
    border-radius: 5px;
    width: 125px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.instructortoggle .instructor {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #373737;
    letter-spacing: -0.28px;
    font-weight: 300;
}


.difficultytoggle {
    background: #A2CDCD;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
    border-radius: 5px;
    width: 125px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -30px;
}


.difficultytoggle .coursedifficulty {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: -0.28px;
    font-weight: 300;
}


.fulfillsrequirementdropdown {
    border: 1px solid #979797;
    border-radius: 5px;
    width: 195px;
    height: 33px;
    display: flex;
    padding-left: 10px;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
}

.fulfillsrequirementdropdown h1 {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: #000000;
    letter-spacing: -0.35px;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 10px solid #FF6665;
  margin-left: 12px;
}

.courselistdiv {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 5px;
    flex: 8;
    overflow: scroll;
}

.courselistblockdiv {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-end;
}

.courselistdiv .courselistblock {
    background: #F57637;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
    border-radius: 5px;
    width: 545px;
    height: 50px;
    min-height: 50px;
    display: flex;
    padding-left: 10px;
    align-items: center;
    margin-right: 22px;
    margin-top: 15px;
}


.courselistdiv .courselistblock h1 {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #FFFFFF;
    letter-spacing: -0.28px;
    margin: 12px;
    flex:8;
    font-weight: 400;
}

.courselistdiv .courselistblock div p {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: -0.28px;
    margin: 0;
    font-weight: 300;
}


.coursesectionlistblock {
    background: #FFB793;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
    border-radius: 5px;
    width: 465px;
    height: 50px;
    min-height: 50px;
    display: flex;
    flex: 1;
    padding-left: 10px;
    align-items: center;
    margin-right: 22px;
    margin-top: 15px;
}

.coursesectionlistblock h1 {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #FFFFFF;
    letter-spacing: -0.28px;
    margin: 12px;
    flex:8;
    font-weight: 400;
}

.coursesectionlistblock div {
    display: flex;
    padding-right: 8px;
}


.coursesectionlistblock div p {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: -0.28px;
    flex: 1;
    margin: 0;
    font-weight: 300;
}

.scrollviewdiv {
    display: flex;
    flex: .5;
    justify-content: center;
    margin-bottom: -20px;
    margin-top: 10px;
}

.circle0 {
    width: 10px;
	height: 10px;
    max-height: 10px;
    border: 1px solid #979797;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.circle1 {
    width: 10px;
	height: 10px;
    max-height: 10px;
    background: #797979;
    border: 1px solid #979797;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.dashboarddiv {
    display: flex;
    background-color: #60ABAE;
}

.studentprofilediv {
    flex: 1;
}

.schedulerdiv {
    flex: 8;
    display: flex;
    flex-direction: column;
}

.courseselectordiv {
    flex: 1;
    display: flex;
}

.searchcontainerdiv {
    flex: 6;
}

.schedulecontainerdiv {
    flex: 3;
}

.coursedetaildiv {
    display: flex;
    flex: 1;
}

.coursecardcontainerdiv {
    flex: 1;
}

.calendarcontainerdiv {
    flex: 1;
}
