h1 {
  font-family: helvetica;
  font-weight: 200;
}

// start of primitive calendar formatting
div {
  font-family: 'Lato', sans-serif;
}
.calendarContainer {
  display: flex;
  flex: 1 ;
  flex-direction: row
}

.calendarColumn {
  display: flex;
  flex-direction: column;
  flex: 1
}

.showHour {
  margin-top: 1%;
  color: grey;
}

.timeChosen {
  background-color: grey;

}

.timeNonChosen {
  background-color : #FFFFFF;
}

.time {
  height: 20px;
  flex: 1
}

.theHour {
  flex:1;
  height: 40px;
  padding-left: 60%
}
// end of primitive calendar formatting

.courselistblock {
    background: #FA6D6D;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
    border-radius: 5px;
    width: 530px;
    height: 50px;
    display: flex;
    padding-left: 10px;
}

.courselistblock h1 {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #FFFFFF;
    letter-spacing: -0.28px;
    margin: 12px;
    flex:8;
}

.courselistblock div {
    display: flex;
    flex-direction: column;
    padding-top: 4.5px;
    padding-right: 8px;
    align-items: flex-end;
}


.courselistblock div p {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: -0.28px;
    flex: 1;
    margin: 0;
}
